{% extends 'base.html' %}
{% block content %}
{% include '_flash.html' %}
<form method="post">
    {{ form.hidden_tag() }}
    {{ form.username.label }} {{ form.username() }}<br>
    {{ form.email.label }} {{ form.email() }}<br>
    {{ form.role.label }} {{ form.role() }}<br>
    {{ form.password.label }} {{ form.password() }}<br>
    {{ form.confirm.label }} {{ form.confirm() }}<br>
    {{ form.agree.label }} {{ form.agree() }}<br>
    <input type="submit" value="Submit Application">
</form>
<a href="{{ url_for('auth.login') }}">Login</a>
{% endblock %}
